<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="gallery-container">
        <div class="gallery__item">
            <img src="../Assets/img/img1.jpg" alt="" class="gallery__img">
            <h2 class="gallery__title">Imagen 1</h2>
        </div>
        <div class="gallery__item">
            <img src="../Assets/img/img2.jpg" alt="" class="gallery__img">
            <h2 class="gallery__title">Imagen 2</h2>
        </div>
        <div class="gallery__item">
            <img src="../Assets/img/img3.jpg" alt="" class="gallery__img">
            <h2 class="gallery__title">Imagen 3</h2>
        </div>
        <div class="gallery__item">
            <img src="../Assets/img/img4.jpg" alt="" class="gallery__img">
            <h2 class="gallery__title">Imagen 4</h2>
        </div>
        <div class="gallery__item">
            <img src="../Assets/img/img5.jpg" alt="" class="gallery__img">
            <h2 class="gallery__title">Imagen 5</h2>
        </div>
        <div class="gallery__item">
            <img src="../Assets/img/img6.jpg" alt="" class="gallery__img">
            <h2 class="gallery__title">Imagen 6</h2>
        </div>
    </div>
</body>
</html>